
caso_practico/__pycache__/gestion_datos.cpython-312.pyc
caso_practico/__pycache__/consultas.cpython-312.pyc
caso_practico/__pycache__/estadisticas.cpython-312.pyc
caso_practico/__pycache__/validaciones.cpython-312.pyc
